node_modules
.next
out
dist
build
coverage

.git
.github
.jenkins

.env
.env.*
*.log

docs/legacy

terraform.tfstate
terraform.tfstate.*
*.tfvars
.terraform
.terraform.lock.hcl

README.md
SECURITY.md
.scannerwork
