# Node / Next
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.bak
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# tfvars (se vuoi evitare di versionare dati ambientali reali)
terraform.tfvars
*.auto.tfvars

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temp / backup
*.bak
*.tmp
last-show.txt

node_modules
.git
.gitignore


